@import 'bootstrap-sprockets';
@import 'bootstrap';

.section-carousel {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.carousel-container {
  width: 1000px;
  padding: 5px;
}
.carousel-inner {
  height: 500px;
}

.item {
  height: 100%;
}
