@import 'bootstrap-sprockets';
@import 'bootstrap';

.section-carousel {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.carousel-container {
  width: 1000px;
  padding: 5px;
}
.carousel-inner {
  height: 500px;
}

.item {
  height: 100%;
  background-color: #ecf0f1;
}

.item.active {
  background-color: #ecf0f1;
}

a.right.carousel-control {
  background-color: #ecf0f1;
  opacity: 1;
  background-image: none;
}

a.left.carousel-control {
  background-color: #ecf0f1;
  opacity: 1;
  background-image: none;
}

.add {
  background-image: url('/assets/ad.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
